# Supabase Configuration
VITE_SUPABASE_URL=https://zlqagjhyfbgudoghnnpf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpscWFnamh5ZmJndWRvZ2hubnBmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4NzEyMDYsImV4cCI6MjA5MzQ0NzIwNn0.ELxLF-iGzN3OYxF_5ufbcTSOoDx-BFyhYxcVjEOiYts
